@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";


@theme {
    --font-Pacifico:'Pacifico', 'cursive'
  }

  body, #root {
    @apply bg-[url('/public/4.jpg')] min-h-screen bg-cover;
    margin: 0;
  }
  @keyframes scrollText {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee-hover {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .marquee-hover span {
    display: inline-block;
    transform: translateX(0%);
    transition: transform 0.3s ease;
    will-change: transform;
  }
  
  .marquee-hover:hover span {
    animation: scrollText 6s linear infinite;
  }
  